doctype html
title BoilerBot. Register.

head
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Viga")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
    link(rel="stylesheet" type="text/css" href="/css/root.css") 
    link(rel="stylesheet" type="text/css" href="/css/login.css") 
    link(rel="shortcut icon" href="/resources/favicon.ico")



div#info
    h1(id="heading") #[a#heading_link(href='/') BoilerBot.]
   
    form(method='POST' action='/register')
        if err
            div#err 
                | #{err}

        input.input(type='input' placeholder='full name' name='name' required)
        br
        input.input(type='email' placeholder='name@email.com' name='email' required)
        br
        input.input(type='password' placeholder='password' name='password' 
        pattern='.{5}.*' required
        title="at least five characters")
        br
        input.input(type='password' placeholder='confirm password' name='confirm_password' required)         
        br
        input.input(type='input' placeholder='location (x,y)' pattern='[0-6],[0-6]' name='location' required
        title="please obtain from HR. limits x,y <= 6")         
        br
        input.input(type='input' placeholder='office key' pattern='[0-9a-zA-Z]{5}' name='office_key' required
        title="please obtain from HR")         
        br

        button.button#submit(type='submit') submit

    form(action='/login')
        button.button#register(type='submit') already have an account
    
    //- a.social(href='https://github.com/ksivaman/BoilerBot')
    //-     img#github(src='/resources/GitHub-Mark-64px.png', width="45px")
    
    div#signature
        | website by #[a#sig_gh(href='https://github.com/dhruvswarup123/') dhruv swarup]

div#orangeRect
    div#page_info register